<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      Zone
    </div>
    <div class="card-body">
      <a routerLink="/zone-form" class="btn btn-primary mb-2"
        ><i class="fa fa-plus mr-2"></i> Add Zone</a
      >
      <table class="table table-responsive-sm table-hover">
        <thead>
          <tr>
            <th>Zone</th>
            <th>Description</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of data">
            <td>{{ item.name }}</td>
            <td>{{ item.desc }}</td>
            <td>
              <a (click)="delete()" class="text-white btn btn-danger mr-2"
                ><i class="fa fa-trash"></i
              ></a>
              <a routerLink="/zone-form" class="btn btn-primary mr-2"
                ><i class="fa fa-pencil"></i
              ></a>
            </td>
          </tr>
        </tbody>
      </table>
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#">Prev</a>
        </li>
        <li class="page-item active">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">4</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </div>
  </div>
</div>
