<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">Table Form</div>
    <div class="card-body">
      <form action="" class="form-horizontal">
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="hf-email"
            >Table Name</label
          >
          <div class="col-md-9">
            <input
              class="form-control"
              type="text"
              placeholder="Input Table Name"
            />
            <!-- <span class="help-block">Please enter your email</span> -->
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="hf-email">Zone</label>
          <div class="col-md-9">
            <select class="form-control" id="select1" name="select1">
              <option value="0">Zone 1</option>
              <option value="1">Zone 2</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="hf-email">Capacity</label>
          <div class="col-md-9">
            <input
              class="form-control"
              type="text"
              placeholder="Input Table Capacity"
            />
            <!-- <span class="help-block">Please enter your email</span> -->
          </div>
        </div>

        <div>
          <button class="btn btn-primary ml-2 float-right" type="submit">
            <i class="fa fa-send mr-2"></i> Submit
          </button>
          <a routerLink="/table" class="btn btn-danger float-right">
            <i class="fa fa-ban mr-2"></i>Cancel
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
