<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Table List
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-3">
              <div
                class="card bg-light border-0 p-2 d-flex justify-content-center align-items-center"
              >
                <p class="m-0">Zona 1</p>
                <p class="m-0">Table 1</p>
              </div>
            </div>
            <div class="col-md-3">
              <div
                class="card bg-success border-0 p-2 d-flex justify-content-center align-items-center"
              >
                <p class="m-0">Zona 1</p>
                <p class="m-0">Table 2</p>
              </div>
            </div>
            <div class="col-md-3">
              <div
                class="card bg-light border-0 p-2 d-flex justify-content-center align-items-center"
              >
                <p class="m-0">Zona 1</p>
                <p class="m-0">Table 3</p>
              </div>
            </div>
            <div class="col-md-3">
              <div
                class="card bg-light border-0 p-2 d-flex justify-content-center align-items-center"
              >
                <p class="m-0">Zona 2</p>
                <p class="m-0">Table 1</p>
              </div>
            </div>
            <div class="col-md-3">
              <div
                class="card bg-light border-0 p-2 d-flex justify-content-center align-items-center"
              >
                <p class="m-0">Zona 2</p>
                <p class="m-0">Table 2</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header"><b>Zona 1 Table 2</b></div>
        <div class="card-body">
          <div class="row mb-2">
            <div class="col-md-3">
              <img
                src="./../../../assets/img/menu/nasi-goreng-kencur-kemangi.jpg"
                alt="Nasi Goreng Kemangi"
                class="img-menu-list"
              />
            </div>
            <div class="col-md-9">
              <div class="form-group row mb-0">
                <div class="col-md-5 form-label d-flex align-items-center">
                  <p class="m-0">Nasi Goreng</p>
                </div>
                <div
                  class="col-md-4 form-label d-flex align-items-center justify-content-between"
                >
                  <span>3</span>
                  <span>x</span>
                  <span>15.000</span>
                </div>
                <div
                  class="col-md-3 form-label d-flex align-items-center justify-content-end"
                >
                  <p class="m-0">45.000</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-md-3">
              <img
                src="./../../../assets/img/menu/sate-aya.jpg"
                alt="Sate Ayam"
                class="img-menu-list"
              />
            </div>
            <div class="col-md-9">
              <div class="form-group row mb-0">
                <div class="col-md-5 form-label d-flex align-items-center">
                  <p class="m-0">Sate Ayam</p>
                </div>
                <div
                  class="col-md-4 form-label d-flex align-items-center justify-content-between"
                >
                  <span>3</span>
                  <span>x</span>
                  <span>12.000</span>
                </div>
                <div
                  class="col-md-3 form-label d-flex align-items-center justify-content-end"
                >
                  <p class="m-0">12.000</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-md-3">
              <img
                src="./../../../assets/img/menu/es-teh-manis-2-640x447.jpg"
                alt="Es Teh Manus"
                class="img-menu-list"
              />
            </div>
            <div class="col-md-9">
              <div class="form-group row mb-0">
                <div class="col-md-5 form-label d-flex align-items-center">
                  <p class="m-0">Es Teh Manis</p>
                </div>
                <div
                  class="col-md-4 form-label d-flex align-items-center justify-content-between"
                >
                  <span>4</span>
                  <span>x</span>
                  <span>5.000</span>
                </div>
                <div
                  class="col-md-3 form-label d-flex align-items-center justify-content-end"
                >
                  <p class="m-0">20.000</p>
                </div>
              </div>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-8 d-flex align-items-center">
              <p>Total</p>
            </div>
            <div
              class="col-md-4  d-flex align-items-center justify-content-end"
            >
              <input
                type="text"
                value="111.000"
                class="form-control text-right"
                disabled
              />
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-8 d-flex align-items-center">
              <p>Bayar</p>
            </div>
            <div
              class="col-md-4  d-flex align-items-center justify-content-end"
            >
              <input type="text" class="form-control text-right" />
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-8 d-flex align-items-center">
              <p>Discount</p>
            </div>
            <div
              class="col-md-4  d-flex align-items-center justify-content-end"
            >
              <input type="text" class="form-control text-right" />
            </div>
          </div>
          <div class="row mt-2">
            <div
              class="col-md-8 ml-auto d-flex align-items-center justify-content-end"
            >
              <a href="" class="btn btn-danger white-text mr-2">
                <i class="fa fa-ban mr-2"></i>Cancel
              </a>
              <a href="#" class="btn btn-primary"
                ><i class="fa fa-send mr-2"></i>Submit</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
