<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body p-3 d-flex align-items-center">
          <i class="fa fa-money bg-primary p-3 font-2xl mr-3"></i>
          <div>
            <div class="text-value-sm text-muted">Rp. 580.000</div>
            <div class="text-muted text-uppercase font-weight-bold small">
              Income Harian
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body p-3 d-flex align-items-center">
          <i class="fa fa-money bg-primary p-3 font-2xl mr-3"></i>
          <div>
            <div class="text-value-sm text-muted">Rp. 7.350.000</div>
            <div class="text-muted text-uppercase font-weight-bold small">
              Income Bulanan
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body p-3 d-flex align-items-center">
          <i class="fa fa-money bg-success p-3 font-2xl mr-3"></i>
          <div>
            <div class="text-value-sm text-muted">20 Porsi</div>
            <div class="text-muted text-uppercase font-weight-bold small">
              Total Penjualan Hari ini
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body p-3 d-flex align-items-center">
          <i class="fa fa-money bg-success p-3 font-2xl mr-3"></i>
          <div>
            <div class="text-value-sm text-muted">80 Porsi</div>
            <div class="text-muted text-uppercase font-weight-bold small">
              Total Penjualan Bulan Ini
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body  p-3 d-flex align-items-center">
          <i class="text-white fa fa-book bg-cyan p-3 font-2xl mr-3"></i>
          <div>
            <div class="text-value-sm text-muted">Ayam Bakar</div>
            <div class="text-muted text-uppercase font-weight-bold small">
              Top Menu Hari ini
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body  p-3 d-flex align-items-center">
          <i class="text-white fa fa-book bg-cyan p-3 font-2xl mr-3"></i>
          <div>
            <div class="text-value-sm text-muted">Sate Ayam</div>
            <div class="text-muted text-uppercase font-weight-bold small">
              Top Menu Bulan ini
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
