<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">Menu</div>
        <div class="card-body">
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Filter</label>
            <div class="col-md-9">
              <select name="filter" id="filter" class="form-control">
                <option value="1">Semua Menu</option>
                <option value="1">Makanan</option>
                <option value="1">Minuman</option>
              </select>
            </div>
          </div>
          <hr />
          <div class="row">
            <div *ngFor="let item of data" class="col-md-4 p-2 text-center">
              <img src="{{ item.imagePath }}" alt="" class="img-menu mb-2" />
              <h5>{{ item.name }}</h5>
              <p>
                {{ item.price }}
              </p>
              <a
                (click)="order(item.id)"
                class="btn btn-success btn-block text-white"
                ><i class="fa fa-plus mr-2"></i>Order</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">Order List</div>
        <div class="card-body">
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Table</label>
            <label class="col-md-5 col-form-label">
              <h5>Zona 1 Table 2</h5>
              <zxing-scanner
                *ngIf="scanEnable"
                [enable]="scanEnable"
                (scanSuccess)="scanSuccessHandler($event)"
                (scanError)="scanErrorHandler($event)"
                (scanFailure)="scanFailureHandler($event)"
                (scanComplete)="scanCompleteHandler($event)"
              ></zxing-scanner>
            </label>

            <div class="col-md-4">
              <a
                (click)="startScan()"
                class="btn btn-success btn-sm float-right"
                ><i class="fa fa-qrcode"></i
              ></a>
            </div>
          </div>

          <hr />
          <div class="row mb-2">
            <div class="col-md-3">
              <img
                src="./../../../assets/img/menu/nasi-goreng-kencur-kemangi.jpg"
                alt="Nasi Goreng Kemangi"
                class="img-menu-list"
              />
            </div>
            <div class="col-md-9">
              <div class="form-group row mb-0">
                <div class="col-md-6 form-label d-flex align-items-center">
                  <p class="m-0">Nasi Goreng</p>
                </div>
                <div
                  class="col-md-6 d-flex justify-content-between align-items-center"
                >
                  <p class="m-0 mr-auto">3</p>
                  <a href="#" class="btn btn-sm btn-danger mr-1">
                    <i class="fa fa-minus"></i>
                  </a>
                  <a href="#" class="btn btn-sm btn-success">
                    <i class="fa fa-plus"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-md-3">
              <img
                src="./../../../assets/img/menu/sate-aya.jpg"
                alt="Sate Ayam"
                class="img-menu-list"
              />
            </div>
            <div class="col-md-9">
              <div class="form-group row mb-0">
                <div class="col-md-6 form-label d-flex align-items-center">
                  <p class="m-0">Sate Ayam</p>
                </div>
                <div
                  class="col-md-6 d-flex justify-content-between align-items-center"
                >
                  <p class="m-0 mr-auto">3</p>
                  <a href="#" class="btn btn-sm btn-danger mr-1">
                    <i class="fa fa-minus"></i>
                  </a>
                  <a href="#" class="btn btn-sm btn-success">
                    <i class="fa fa-plus"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-md-3">
              <img
                src="./../../../assets/img/menu/es-teh-manis-2-640x447.jpg"
                alt="Sate Ayam"
                class="img-menu-list"
              />
            </div>
            <div class="col-md-9">
              <div class="form-group row mb-0">
                <div class="col-md-6 form-label d-flex align-items-center">
                  <p class="m-0">Es Teh Manus</p>
                </div>
                <div
                  class="col-md-6 d-flex justify-content-between align-items-center"
                >
                  <p class="m-0 mr-auto">4</p>
                  <a href="#" class="btn btn-sm btn-danger mr-1">
                    <i class="fa fa-minus"></i>
                  </a>
                  <a href="#" class="btn btn-sm btn-success">
                    <i class="fa fa-plus"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-12">
              <a href="#" class="btn btn-primary float-right"
                ><i class="fa fa-send mr-2"></i>Checkout</a
              >
              <a href="#" class="btn btn-danger float-right mr-2"
                ><i class="fa fa-ban mr-2"></i>Cancel</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
