<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">User Form</div>
    <div class="card-body">
      <form action="" class="form-horizontal">
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="hf-email">Name</label>
          <div class="col-md-9">
            <input class="form-control" type="text" placeholder="Input Name" />
            <!-- <span class="help-block">Please enter your email</span> -->
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="hf-email">Username</label>
          <div class="col-md-9">
            <input
              class="form-control"
              type="text"
              placeholder="Input Username"
            />
            <!-- <span class="help-block">Please enter your email</span> -->
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="hf-email">Password</label>
          <div class="col-md-9">
            <input
              class="form-control"
              type="password"
              placeholder="Input Password"
            />
            <!-- <span class="help-block">Please enter your email</span> -->
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="hf-email">Role</label>
          <div class="col-md-9">
            <select class="form-control" id="select1" name="select1">
              <option value="0">Manager</option>
              <option value="1">Kitchen</option>
              <option value="2">Waiter</option>
              <option value="3">Cashier</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="hf-email">Status</label>
          <div class="col-md-9">
            <select class="form-control" id="select2" name="select2">
              <option value="0">Aktif</option>
              <option value="1">Non Aktif</option>
            </select>
          </div>
        </div>

        <div>
          <a
            (click)="submit()"
            class="text-white btn btn-primary ml-2 float-right"
            type="submit"
          >
            <i class="fa fa-send mr-2"></i> Submit
          </a>
          <a (click)="cancel()" class="text-white btn btn-danger float-right">
            <i class="fa fa-ban mr-2"></i>Cancel
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
