<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      User
    </div>
    <div class="card-body">
      <a routerLink="/zone-form" class="btn btn-primary mb-2"
        ><i class="fa fa-plus mr-2"></i> Add User</a
      >
      <table class="table table-responsive-sm table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Role</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Ratna</td>
            <td>waiter1</td>
            <td>Waiter</td>
            <td>
              <a href="#" class="btn btn-danger"><i class="fa fa-trash"></i></a>
              <a routerLink="/user-form" class="btn btn-primary mr-2"
                ><i class="fa fa-pencil"></i
              ></a>
            </td>
          </tr>
          <tr>
            <td>Milea</td>
            <td>waiter2</td>
            <td>Waiter</td>
            <td>
              <a href="#" class="btn btn-danger"><i class="fa fa-trash"></i></a>
              <a routerLink="/user-form" class="btn btn-primary mr-2"
                ><i class="fa fa-pencil"></i
              ></a>
            </td>
          </tr>
          <tr>
            <td>Fransiska</td>
            <td>depotayam</td>
            <td>Manager</td>
            <td>
              <a href="#" class="btn btn-danger"><i class="fa fa-trash"></i></a>
              <a routerLink="/user-form" class="btn btn-primary mr-2"
                ><i class="fa fa-pencil"></i
              ></a>
            </td>
          </tr>
          <tr>
            <td>Hayati</td>
            <td>cashier</td>
            <td>Cashier</td>
            <td>
              <a href="#" class="btn btn-danger"><i class="fa fa-trash"></i></a>
              <a routerLink="/user-form" class="btn btn-primary mr-2"
                ><i class="fa fa-pencil"></i
              ></a>
            </td>
          </tr>
        </tbody>
      </table>
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#">Prev</a>
        </li>
        <li class="page-item active">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">4</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </div>
  </div>
</div>
