<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      Product
    </div>
    <div class="card-body">
      <a routerLink="/product-form" class="btn btn-primary mb-2"
        ><i class="fa fa-plus mr-2"></i> Add Product</a
      >
      <table class="table table-responsive-sm table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Type</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of data">
            <td>{{ item.name }}</td>
            <td>{{ item.price | number }}</td>
            <td>{{ item.type }}</td>
            <td>
              <a (click)="delete()" class="text-white btn btn-danger mr-2"
                ><i class="fa fa-trash"></i
              ></a>
              <a routerLink="/product-form" class="btn btn-primary mr-2"
                ><i class="fa fa-pencil"></i
              ></a>
            </td>
          </tr>
          <!-- <tr>
            <td>Ayam Bakar</td>
            <td>15.000</td>
            <td>Makanan</td>
            <td>
              <a href="#" class="btn btn-danger mr-2"
                ><i class="fa fa-trash"></i
              ></a>
              <a routerLink="/product-form" class="btn btn-primary mr-2"
                ><i class="fa fa-pencil"></i
              ></a>
            </td>
          </tr>
          <tr>
            <td>Sate Ayam</td>
            <td>14.000</td>
            <td>Makanan</td>
            <td>
              <a href="#" class="btn btn-danger mr-2"
                ><i class="fa fa-trash"></i
              ></a>
              <a routerLink="/product-form" class="btn btn-primary mr-2"
                ><i class="fa fa-pencil"></i
              ></a>
            </td>
          </tr>
          <tr>
            <td>Es Teh Manis</td>
            <td>5.000</td>
            <td>Minuman</td>
            <td>
              <a href="#" class="btn btn-danger mr-2"
                ><i class="fa fa-trash"></i
              ></a>
              <a routerLink="/product-form" class="btn btn-primary mr-2"
                ><i class="fa fa-pencil"></i
              ></a>
            </td>
          </tr> -->
        </tbody>
      </table>
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#">Prev</a>
        </li>
        <li class="page-item active">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">4</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </div>
  </div>
</div>
