<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      Kitchen Stock
    </div>
    <div class="card-body">
      <a routerLink="/kitchen-stock-form" class="btn btn-primary mb-2"
        ><i class="fa fa-plus mr-2"></i> Request Stock</a
      >
      <table class="table table-responsive-sm table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Last Stock Entry</th>
            <th>Quantity</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Bawang Putih</td>
            <td>2012/01/01</td>
            <td>100 gram</td>
          </tr>
          <tr>
            <td>Bawang Merah</td>
            <td>2012/01/01</td>
            <td>20 gram</td>
          </tr>
          <tr>
            <td>Cabe Merah</td>
            <td>2012/01/01</td>
            <td>200 gram</td>
          </tr>
          <tr>
            <td>Garam Dapur</td>
            <td>2012/01/01</td>
            <td>100 gram</td>
          </tr>
          <tr>
            <td>Kunyit</td>
            <td>2012/01/01</td>
            <td>100 gram</td>
          </tr>
          <tr>
            <td>Gula Pasir</td>
            <td>2012/01/01</td>
            <td>100 gram</td>
          </tr>
        </tbody>
      </table>
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link">Prev</a>
        </li>
        <li class="page-item active">
          <a class="page-link">1</a>
        </li>
        <li class="page-item">
          <a class="page-link">2</a>
        </li>
        <li class="page-item">
          <a class="page-link">3</a>
        </li>
        <li class="page-item">
          <a class="page-link">4</a>
        </li>
        <li class="page-item">
          <a class="page-link">Next</a>
        </li>
      </ul>
    </div>
  </div>
</div>
