<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">Inventory Transaction Form</div>
    <div class="card-body">
      <form action="" class="form-horizontal">
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="hf-email"
            >Raw of Material</label
          >
          <div class="col-md-9">
            <select class="form-control" id="select1" name="select1">
              <option value="0">Please select RAW</option>
              <option *ngFor="let item of option" value="{{ item.id }}"
                >{{ item.name }} ({{ item.unit }})</option
              >
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="hf-email"
            >Vendor Name</label
          >
          <div class="col-md-9">
            <input class="form-control" type="text" placeholder="Vendor Name" />
            <!-- <span class="help-block">Please enter your email</span> -->
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="hf-email">Quantity</label>
          <div class="col-md-9">
            <input
              class="form-control"
              type="text"
              placeholder="Input quantity"
            />
            <!-- <span class="help-block">Please enter your email</span> -->
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="hf-email"
            >Unit Price</label
          >
          <div class="col-md-9">
            <input
              class="form-control"
              type="text"
              placeholder="Input Unit Price"
            />
            <!-- <span class="help-block">Please enter your email</span> -->
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="hf-email"
            >Total Price</label
          >
          <div class="col-md-9">
            <input
              class="form-control"
              type="text"
              placeholder="Input Total Price"
            />
            <!-- <span class="help-block">Please enter your email</span> -->
          </div>
        </div>
        <div>
          <a
            (click)="submit()"
            class="text-white btn btn-primary ml-2 float-right"
            type="submit"
          >
            <i class="fa fa-send mr-2"></i> Request
          </a>
          <a (click)="cancel()" class="text-white btn btn-danger float-right">
            <i class="fa fa-ban mr-2"></i>Cancel
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
