<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      Inventory Stock
    </div>
    <div class="card-body">
      <a routerLink="/inventory-form" class="btn btn-primary mb-2"
        ><i class="fa fa-plus mr-2"></i> Add RAW</a
      >
      <a routerLink="/inventory-transaction-form" class="btn btn-primary mb-2"
        ><i class="fa fa-plus mr-2"></i> Transaction</a
      >
      <table class="table table-responsive-sm table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Quantity</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of data">
            <td>{{ item.name }}</td>
            <td>{{ item.type }}</td>
            <td>{{ item.stock | number }} {{ item.unit }}</td>
          </tr>
        </tbody>
      </table>
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link">Prev</a>
        </li>
        <li class="page-item active">
          <a class="page-link">1</a>
        </li>
        <li class="page-item">
          <a class="page-link">2</a>
        </li>
        <li class="page-item">
          <a class="page-link">3</a>
        </li>
        <li class="page-item">
          <a class="page-link">4</a>
        </li>
        <li class="page-item">
          <a class="page-link">Next</a>
        </li>
      </ul>
    </div>
  </div>
</div>
