// Here you can add other styles
.img-menu-list {
  width: 100%;
  height: 50px;
  object-fit: cover;
}

.img-menu {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

.main {
  margin-top: 2rem;
}
