<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      Purchasing Report
    </div>
    <div class="card-body">
      <a class="btn btn-primary mb-2 text-white"
        ><i class="fa fa-print mr-2"></i> Print</a
      >
      <table class="table table-responsive-sm table-hover">
        <thead>
          <tr>
            <th>Vendor</th>
            <th>Date</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Vendor A</td>
            <td>2012/01/01</td>
            <td>Bawang Merah</td>
            <td>5000 gr</td>
            <td>100</td>
            <td>500,000</td>
          </tr>
          <tr>
            <td>Vendor B</td>
            <td>2012/01/01</td>
            <td>Cabe Merah</td>
            <td>1000 gr</td>
            <td>720</td>
            <td>720,000</td>
          </tr>
          <tr>
            <td>Vendor C</td>
            <td>2012/01/01</td>
            <td>Gula Pasir</td>
            <td>2000 gr</td>
            <td>120</td>
            <td>240,000</td>
          </tr>
        </tbody>
      </table>
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link">Prev</a>
        </li>
        <li class="page-item active">
          <a class="page-link">1</a>
        </li>
        <li class="page-item">
          <a class="page-link">2</a>
        </li>
        <li class="page-item">
          <a class="page-link">3</a>
        </li>
        <li class="page-item">
          <a class="page-link">4</a>
        </li>
        <li class="page-item">
          <a class="page-link">Next</a>
        </li>
      </ul>
    </div>
  </div>
</div>
